################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
*.sqlite
DocumentLayout*.json
VSWorkspace*.json